.add-movement-modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.add-movement-modal-container__modal {
  background-color: white;
  max-width: 300px;
  width: auto;
  margin: 100px 20px;
  padding-bottom: 13px;

  @media (min-width: 340px) {
    width: 100%;
    margin: 100px auto 0 auto;
  }

  box-shadow: 0 9px 46px 8px rgba(0,0,0,.14),0 11px 15px -7px rgba(0,0,0,.12),0 24px 38px 3px rgba(0,0,0,.2);
}

.add-movement-modal-container__modal-title {
  padding: 24px 24px 13px 24px;
  margin: 0;
}
