.movement-log {
  padding: 16px;
  border-top: solid 1px $light-grey;
  border-left: solid 1px $light-grey;
  border-right: solid 1px $light-grey;
  background-color: white;
}

.movement-log__title {
  margin: 0;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
}

.movement-log:last-of-type {
  border-bottom: solid 1px $light-grey;
}
