.movement-log {
  max-width: 380px;
  margin: 0 auto;

  @media (max-width: 380px) {
    margin: 0 8px;
  }
  &+.movement-log {
    margin-top: 8px;
  }

  &__body {
    padding: 10px 0;
  }

  &__line-item {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);    
  }

  &__weight {
    input {
      text-align: right;
    }
  }

  &__weight-container {
    @include flexbox();
    @include align-items(center);    
  }

  &__reps-container {
    @include flexbox();
    @include align-items(center);    
  }
}

.movement-log__title {
  margin: 0;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
}

.movement-log__reps {
  width: 19px;
  text-align: right;
}

.movement-log:last-of-type {
  border-bottom: solid 1px $light-grey;
}
