.movement-log {
  @media (max-width: $max-width) {
    margin: 0 8px;
  }
  &+.movement-log {
    margin-top: 8px;
  }
}

.movement-log__title {
  margin: 0;
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
}

.movement-log__weight {
  height: 32px;
  line-height: 32px;
}

.movement-log__reps {
  height: 32px;
  line-height: 32px;
}

.movement-log:last-of-type {
  border-bottom: solid 1px $light-grey;
}
